@import url(https://fonts.googleapis.com/css?family=Montserrat);
body, .wufoo, .wufoo label.desc, .wufoo legend.desc, .wufoo .info h2,
.wufoo .info div, .wufoo input.text, .wufoo textarea.textarea, .wufoo input.file,
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label, .likert caption,
.likert thead td, .likert tbody th label, .wufoo .section h3, .wufoo .section div,
.paging-context {
    font-family: montserratlight, Helvetica, Arial, sans-serif
}

#logo {
    background-color: #ffffff
}

.wufoo .info h2 {
    font-size: 180%
}

form li div label, form li span label, .likert caption, .likert tbody th label,
.likert thead td {
    font-size: 100%
}

.wufoo .instruct small, .paging-context table tbody tr td.t b, .paging-context table tbody tr td.c var,
.wufoo .info div, .wufoo .section div {
    font-size: 14px
}

.paging-context table tbody tr td.c var {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    line-height: 30px
}

.wufoo li {
    margin-bottom: 0.6rem
}

.wufoo label.desc, .wufoo legend.desc, .likert caption {
    color: #4d4d4d;
    cursor: pointer;
    font-size: 120%;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0
}

.wufoo .section h3 {
    font-size: 120%
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select,
form li.complex div span.full input {
    width: 80%;
    height: 1.5rem;
    padding: 0.44444rem;
    margin-top: 0.6rem;
    color: #444444;
    font-family: montserratlight,sans-serif;
    background-image: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.15s linear, background 0.15s linear;
    -webkit-transition: border-color 0.15s linear, background 0.15s linear;
    -moz-transition: border-color 0.15s linear, background 0.15s linear
}

form li.complex div span.left, form li.complex div span.right {
    margin: 0;
    width: 100%
}

form li.complex div span.left input, form li.complex div span.right input,
form li.complex div span.left select, form li.complex div span.right select {
    width: 80%
}

.wufoo textarea.textarea {
    height: 10em;
    min-width: 100px
}

.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo select.select:focus {
    background-color: #fafafa;
    border-color: #999999;
    outline: none
}

.wufoo select.select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #FAFAFA;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
    background-position: 100% center;
    background-repeat: no-repeat;
    font-family: inherit;
    font-size: 0.77778rem;
    line-height: normal;
    padding: 0.44444rem;
    border-radius: 0;
    height: 2.05556rem
}

form li.complex div span {
    padding-bottom: 3px
}

.wufoo input.text.fn {
    margin-right: 3em
}

span.symbol {
    margin-left: 0.8em;
    margin-right: 0.3em;
    margin-top: 15px
}

.wufoo li.focused {
    background: none
}

#saveForm, input.btTxt {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 5px;
    font-family: montserratlight, sans-serif
    text-transform: uppercase;
    vertical-align: middle;
    text-align:center;
    background-color: #f7b630;
    font-size:14px;
    color: #ffffff
}

button.link {
    text-decoration: none;
    color: #07AFE6
}

.safari label.choice {
    margin-top: 5px
}

.wufoo input.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    position: absolute
}

.wufoo input.checkbox:active, input.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.wufoo input.checkbox:checked {
    background-color: #f2f2f2;
    border: 1px solid #c3c3c3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7
}

.wufoo input.checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 3px;
    color: #99a1a7
}

.wufoo input.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 50px;
    padding: 9px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    position: absolute
}

.wufoo input.radio:checked:after {
    content: ' ';
    background-color: #99a1a7;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    border: 1px solid #c3c3c3;
    text-shadow: 0px;
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 2px
}

.wufoo input.radio:checked {
    background-color: #f2f2f2;
    color: #99a1a7;
    border: 1px solid #adb8c0
}

.wufoo label.choice {
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px
}

.wufoo .likert input {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: #c3c3c3;
    border-radius: 50px;
    padding: 9px
}

.wufoo .likert input:checked {
    background-color: #f2f2f2;
    color: #99a1a7;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: #adb8c0
}

.wufoo .likert input:checked:after {
    content: ' ';
    background-color: #99a1a7;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    border: 1px solid #c3c3c3;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0px;
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 2px
}

.wufoo li.focused {
    border-radius: 5px;
    background: #ffffff
}

form li .datepicker {
    margin-left: 15px
}

form li.time select.select {
    margin-left: 15px
}

.wufoo input[type="file"]::-webkit-file-upload-button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    font-size: 0.9rem;
    background-color: #ffae00;
    color: #fefefe
}

.wufoo input[type="file"] {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -moz-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0.85em 1em;
    font-size: 0.9rem;
    background-color: #ffae00;
    color: #fefefe
}

.rating span {
    margin-right: 10px
}


