#meta-bar-dreamhub{
    position:absolute;
    top: 60px;
    width: 100%;
}

#content{
	margin-top: 96px;
}
#top-header{
	position: relative;
}
#profile-container{
	order:1;
}
.hub-navigation-column{
	order:2;
}
.action-center-column{
	order:3;
}

#meta-bar-dreamhub .navigation-list:before {
   content: 'Community Navigation \a' attr(title) ' ';
   white-space: pre;  
    font-family: 'Roboto',Arial;
    font-size: 1.4em;
}

#meta-bar-dreamhub .navigation-list {
	position: relative;
}
