#meta-bar-dreamhub{
    position:absolute;
    top: 60px;
    width: 100%;
}

#content{
	margin-top: 96px;
}
#top-header{
	position: relative;
}
#profile-container{
	order:2;
	justify-content: flex-end;
}
.hub-navigation-column{
	order:1;
}
.action-center-column{
	order:3;
}
/*

#flexheader{
	display: flex;
	flex-direction: column;
}
.hub-navigation-column

#flexheader > #top-header { order: 1; }
#flexheader > #meta-bar-dreamhub { order: 2; }

*/


#meta-bar-dreamhub .navigation-list:before {
   content: 'Community Navigation \a' attr(title) ' ';
   white-space: pre;  
    /*left: -165px;
    position: absolute;*/
    font-family: 'Roboto',Arial;
    font-size: 1.2em;
    font-weight: bold;
}

#meta-bar-dreamhub .navigation-list {
	position: relative;
}
