.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 240px;
  line-height: 66px;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  background: url("//rawgit.com/PIrich/catalyst/master/app/images/logo_catalyst.svg"), url("//rawgit.com/PIrich/catalyst/master/app/images/Catalyst_Temp_BG.svg");
  background-position: center 70%, center 70%;
  background-attachment: inherit, fixed;
  background-size: 350px auto, 100%;
  background-repeat: no-repeat;
  background-color: #382c4c;
  box-shadow: inset 0 0 0 1000px rgba(59, 44, 76, 0); }

  .header__icon {
  display: none; }

.header__logo {
  font-weight: 700;
  line-height: 210px;
  position: relative;
  display: none;
  z-index: 1;
  float: left;
  width: 100%;}

 .header__logo img {
    height: 140px;
    width: auto;
    vertical-align: bottom; }

 .nav__container {
  width: 100%;
  padding: 0 3%;
  float: left;
  position: relative;
  z-index: 2;}
