header.header * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 240px;
  line-height: 66px;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  background: url("http://rawgit.com/PIrich/catalyst/master/app/images/logo_catalyst.svg"), url("http://rawgit.com/PIrich/catalyst/master/app/images/Catalyst_Temp_BG.svg");
  background-position: center 70%, center 70%;
  background-attachment: inherit, fixed;
  background-size: 350px auto, 100%;
  background-repeat: no-repeat;
  background-color: #382c4c;
  box-shadow: inset 0 0 0 1000px rgba(59, 44, 76, 0); }

  .header__icon {
  display: none; }

.header__logo {
  font-weight: 700;
  line-height: 210px;
  position: relative;
  display: none;
  z-index: 1;
  float: left;
  width: 100%;}

 .header__logo img {
    height: 140px;
    width: auto;
    vertical-align: bottom; }

 .nav__container {
  width: 100%;
  padding: 0 3%;
  float: left;
  position: relative;
  z-index: 2;}

.header nav a {
  line-height: 56px;
  color: #ffffff;
  font-weight: 100;
  font-size: 19px;
  float: left;
  text-decoration: none; }
  .header nav a img, .header nav a svg {
    height: 30px;
    width: auto;
    vertical-align: middle;}
  .header nav a:hover svg .path {
    fill: #ffb635; }
  .header nav a.back {
    padding-left: 0;
    opacity: 0.85; }
  .header nav a.back:hover {
      opacity: 1; }

.header .home {
  position: relative; }

 .header .home img {
    height: 39px;
    z-index: 1001;
    top: 8px;
    position: absolute;}

.nav__main {
  float: left;
  width: 100%; }
.nav__main a {
    padding: 0 2.5vw; }
.nav__main input[type=checkbox] {
    display: none; }

.nav__secondary, #meta-bar .container {
  position: absolute;
  right: 3%;
  top: 0;
  height: 44px;
  opacity: 1;}
  .nav__secondary a, #meta-bar .container a {
    padding: 0 10px; }
